@model BlackCoffeeShop.Web.Models.TransactionLinesDetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
@*ProductID, TransactionID, Quantity, Price, Discount, TotalPrice*@

<div>
    <h3>Transaction:  @Model.TransactionID</h3> <br />
    <h4>@Model.Date</h4>
    <hr />
</div>
<table class="table">
<thead>
    <tr>
        <th>
            <strong>ID</strong>
        </th>
        <th>
            <strong>Product ID</strong>
        </th>
        <th>
           <strong> Price</strong>
        </th>
        <th>
            <strong>Quantity</strong>
        </th>
        <th>
            <strong>Total Price</strong>
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model.TransactionLines) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TransactionID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.TransactionID">Delete</a>
            </td>
        </tr>
    }
</tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TransactionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
