@model BlackCoffeeShop.Web.Models.LedgerViewModel

@{
    ViewData["Title"] = "Ledger";
}

<h1>Ledger</h1>

<div>
    <h4>Ledger</h4>
    <hr />
    <dl class="row">
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Month)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Expenses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Income)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Home">Back to Home</a>
</div>